.card-container{
    display: flex;
    flex-wrap: wrap;
}
.hotel-card-image{
    height: 350px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
}
.hotel-card-image-container{
    margin: 8px;
    transition: 1s;
}
.hotel-card-image{

    /* margin-right: 16px; */
    /* margin-bottom: 16px; */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: xx-large;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.hotel-card-image-container:hover{
    transform: scale(1.1);
    transition: 1s;

}