.featured-container{
    height: 100%;
    margin-left:10% ;
    margin-right: 10%;

}
.feature-title{
    padding-top: 20px;
    height: 20%;
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    color: white;
}
.feature-image{
    height: 150px;
    width: 250px;
    padding: 2px;
    margin: 10px;
}