html{
  height: 100vh;
  width: 100vw;
  /* border: solid black; */
  margin: 0;
}
body{
  height: 100%;
  width: 100%;
  /* border: solid green; */
  margin: 0;
  box-sizing: border-box;
}
#root{
  height: 100%;
  width: 100%;
  /* border: solid purple; */
  box-sizing: border-box;

}